$color-purple: #635fc7;
$color-purple-lighter: rgba(99, 95, 199, 0.25);
$color-purple-light: rgba(99, 95, 199, 0.1);

$color-melrose: #a8a4ff;
$color-black: #000112;
$color-charade: #20212c;
$color-gun-powder: #3e3f4e;
$color-charade: #2b2c37;
$color-regent-gray: #828fa3;
$color-link-water: #e4ebfa;
$color-selago: #f4f7fd;
$color-white: #ffffff;
$color-mandy: #ea5555;
$color-mona-lisa: #ff9898;
