$color-blue-marguerite: #635fc7;
$color-melrose: #a8a4ff;
$color-black: #000112;
$color-charade: #20212c;
$color-gun-powder: #3e3f4e;
$color-regent-gray: #828fa3;
$color-link-water: #e4ebfa;
$color-selago: #f4f7fd;
$color-white: #ffffff;
$color-mandy: #ea5555;
$color-mona-lisa: #ff9898;
